body{
  background-color: rgb(217, 233, 246);
}
.container{
  background-color: rgb(178, 181, 181);
  justify-content: center;
  width: 50%;
  margin-left: 25%;
 margin-top: 5%;
 text-align: center;

}
input[type=text],select{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-bottom: 4px;
  box-sizing: border-box;
}
input[type=password],select{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-bottom: 4px;
  box-sizing: border-box;
}
button{
  width: 25%;
  background-color: rgb(146, 222, 146);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover{
  background-color: rgb(26, 174, 19);
}
.header{
  width: 95%;
  background-color: rgb(139, 139, 180);
  padding: 1px 20px;
  color: white;
}
.ui-define{
  background-color: rgb(234, 226, 226);
  margin-left: 25%;
  width: 50%;
  padding: 20px 30px;
  margin-top: 5%;
}